%rebase("base.html")

    <h1 style="color:rgb(59, 182, 110);">
        Congratulations, you can now check out the traffic for your selected destination.
    </h1>
        % if not traffic_data == []:
    
    <style type="text/css">
        td {
        padding: 0 15px 0 0;
        }
    </style>
    <table>
            %if not prestop:
                % station_1 = traffic_data[0][0]
                
                % station_2 = traffic_data[1][0]
                % for i, (ime, cas, razdalja) in enumerate(traffic_data):
                <tr> 
                    % if i%2 == 0:
                    <td>Start: {{ime}} </td> <td>Time: {{cas}}</td> <td rowspan="2"> <a href='/ticket_preview/{{station_1}}/{{station_2}}/5/'>Preview Ticket</a> </td> <td rowspan="2">Distance: {{razdalja}} km </td>
                    % else:
                    <td>Stop: {{ime}} </td> <td>Time: {{cas}}</td>
                    <tr>
                    <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>
                    </tr>
                    % end
                </tr>
                % end
            %end
            %if prestop:
                % station_1 = traffic_data[0][0]
                % station_transfer = traffic_data[0][2]
                % station_2 = traffic_data[0][6]
    
                % for route in traffic_data:
                    % cas1 = route[1]
                    % cas_transfer1 = route[3]
                    % cas_transfer2 = route[5]
                    % cas2 = route[7]
                    % razdalja1 = route[4]
                    % razdalja2 = route[8]
                <tr>
                    <td>Start: {{station_1}} </td> <td>Time: {{cas1}}</td> <td rowspan="4"> <a href='/ticket_preview/{{station_1}}/{{station_2}}/5/' >Preview Ticket</a> </td> <td rowspan="4">Distance: {{razdalja1 + razdalja2}} km </td>
                </tr>
                <tr>
                    <td>Stop: {{station_transfer}} </td> <td>Time: {{cas_transfer1}}</td>
                </tr>

                <tr>
                    <td>Start: {{station_transfer}} </td> <td>Time: {{cas_transfer2}}</td>
                </tr>

                <tr>
                    <td>Stop: {{station_2}} </td> <td>Time: {{cas2}}</td>
                </tr>
                
                <tr>
                    <td bgcolor="#FFFFFF" style="line-height:10px;" colspan=3>&nbsp;</td>
                </tr>
                
                %end
            %end
    </table>

    <a href='/ticket_preview/{{station_1}}/{{station_2}}/4/' >Preview student mothly ticket for this relation</a>
    <a href='/ticket_preview/{{station_1}}/{{station_2}}/3/' >Preview mothly ticket for this relation</a>
    <a href='/ticket_preview/{{station_1}}/{{station_2}}/2/' >Preview pensioner monthly ticket for this relation</a>
    <a href='/ticket_preview/{{station_1}}/{{station_2}}/1/' >Preview yearly ticket for this relation</a> 

    %else:
        %print("else")
        
        <h2 style="color:rgb(59, 182, 110);">
            There is no traffic between your selected destinations. Choose a different city.
        </h2>

    % end
            

    
    
    
    
    
    
    
    
    
    
    
    
    

    
    
    
    