%rebase("base.html")

<section class="vh-80">
	<div class="container py-5 h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
		<div class="col-12 col-md-8 col-lg-6 col-xl-5">
			<div class="card shadow-2-strong" style="border-radius: 1rem;">
			<div class="card-body p-5 text-center">
	
				<h3 class="mb-5">Register here.</h3>
				<h3 class="text-center" style="color:rgb(255, 38, 0);">{{!alert}}</h3>
	

				<form action="/register/" method="post">
					
					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="emso" name="emso" placeholder="Enter your EMŠO" required="" type="number">
						<label class="form-label" for="emso">EMŠO</label> 
					</div>					

					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="ime" name="ime" placeholder="Enter username" required="" type="text">
						<label class="form-label" for="ime">Username</label> 
					</div>			

					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="rojstvo" name="rojstvo" placeholder="Enter birthdate" type="date">
						<label class="form-label" for="rojstvo">Birthdate</label>
					</div>			

					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="naslov" name="naslov" placeholder="Enter adress" type="text">
						<label class="form-label" for="naslov">Addres</label> 
					</div>				

					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="email" name="email" placeholder="Enter email" type="email">
						<label class="form-label" for="email">Email</label> 
					</div>				
					
					<div class="form-outline mb-4">
						<input class="form-control form-control-lg" id="password" name="password" placeholder="Enter Password" required="" type="password">
						<label class="form-label" for="password">Password</label>
					</div>				
					
					<div class="align-center">
						<button class="btn btn-success" type="submit">Register</button>
					</div>
				</form>
	
			</div>
			</div>
		</div>
		</div>
	</div>
</section>